
/* --------*/
.footer {
  background: linear-gradient(to right, #24044d, #cdc18e);
  color: #ffffff;
  padding: 2px 1px;
  text-align: center;
  border-top: 4px solid #32095b;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  white-space: nowrap;
  overflow: hidden;
  flex-wrap: nowrap;
}

.footer-title {
  font-size: 13px;
  font-weight: 500;
  color: #e4e2f0;
  white-space: nowrap;
}

.social-icons {
  display: flex;
  gap: 10px;
}

.social-icons a {
  font-size: 16px;
  color: #ffffff;
  transition: transform 0.3s ease, color 0.3s ease;
}

.social-icons a:hover {
  color: #310f51;
  transform: scale(1.2);
}

.footer-note {
  font-size: 12px;
  color: #d0d0d0;
  white-space: nowrap;
}